<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index file</title>
</head>
<body>
    <h1>Enter the text you want</h1>
    <form action="about" method="get">
        <textarea name="text" id="1" cols="30" rows="10"></textarea>
        <br>
        <input type="checkbox" name="remove_punc"> remove punctuation <br>
        <input type="checkbox" name="capi"> capital <br>
        <button type="submit"> Submit </button>
    </form>

    

</body>
</html>